// anlegen von mixin in ausgelagerter Datei
// mixing
// @mixin flexit {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     h1 {
//         color: green;
//     }
// }

// // parameter template

// @mixin styletext($fs, $fw, $co, $td, $tt, $bg) {
//     font-size: $fs;
//     font-weight: $fw;
//     color: $co;
//     text-decoration: $td;
//     text-transform: $tt;
//     background-color: $bg;
// }

// ---------navbar----sticky
@mixin navbar-sticky {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

    a {
        text-decoration: none;
        color: $nav-color;
        transition-duration: 1s;
    }

    a:hover {
        text-decoration: underline;
        color: $nav-color-hover;
    }

    margin: 2vh 2vh 15vh 2vh;

    nav {
        padding: 0 4rem;
    }

    a {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0 0.5vw
    }

    a:nth-of-type(1) {
        margin-right: 3vw;
    }

    a:nth-of-type(4) {
        margin-right: 3vw;

    }
}

// ---------navbar-position-absolute
@mixin navbar-position-absolute {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: absolute;

    div {
        padding-left: 46vw;
    }

    a {
        text-decoration: none;
        color: $nav-color;
        transition-duration: 1s;
    }

    a:hover {
        text-decoration: underline;
        color: $nav-color-hover;
    }

    margin: 2vh 2vh 15vh 2vh;

    nav {
        padding: 0 4rem;
    }

    a {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0 0.5vw
    }

    a:nth-of-type(1) {
        margin-right: 3vw;
    }

    a:nth-of-type(4) {
        margin-right: 3vw;

    }
}

// ---------für about  und inspiration---------------------------

@mixin img-small-text-side {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    margin: 7%;

    img {
        width: 100%;
    }

    h2 {}

    p {}
}

// ----------für lounger und - experience-------------------------

@mixin img-large-text-side {
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 50px;
    position: fixed;
    z-index: -1;

    img {
        height: 100vh;
        width: 100%;
    }


    h2 {}

    p {}
}

// ----------mixin für shop------------------------

@mixin img-large-headphones-side {
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 10px;

    .img-soundwaves {
        background: url('../img/section-composition4.jpg') center / cover no-repeat;
        width: 90%;
        height: 100vh;
    }

    h2 {}

    p {}
}

// ------------------------------------