// ---------navbar----sticky
@mixin navbar-sticky {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

    a {
        text-decoration: none;
        color: $nav-color;
        transition-duration: 1s;
    }

    a:hover {
        text-decoration: underline;
        color: $nav-color-hover;
    }

    margin: 2vh 2vh 15vh 2vh;

    nav {
        padding: 0 4rem;
    }

    a {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0 0.5vw
    }

    a:nth-of-type(1) {
        margin-right: 3vw;
    }

    a:nth-of-type(4) {
        margin-right: 3vw;

    }
}

// ---------navbar-position-absolute
@mixin navbar-position-absolute {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: absolute;

    div {
        padding-left: 46vw;
    }

    a {
        text-decoration: none;
        color: $nav-color;
        transition-duration: 1s;
    }

    a:hover {
        text-decoration: underline;
        color: $nav-color-hover;
    }

    margin: 2vh 2vh 15vh 2vh;

    nav {
        padding: 0 4rem;
    }

    a {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0 0.5vw
    }

    a:nth-of-type(1) {
        margin-right: 3vw;
    }

    a:nth-of-type(4) {
        margin-right: 3vw;

    }
}

// ---------für about  und inspiration---------------------------

@mixin img-small-text-side {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    margin: 20vh 0 0 10%;

    div {}

    img {
        width: 90%;
    }

    article {
        align-self: center;
    }

}

// ----------für lounger und - experience-------------------------

@mixin img-large-text-side {
    display: grid;
    grid-template-columns: 55% 39%;
    gap: 50px;
    position: fixed;
    z-index: -1;

    img {
        height: 100vh;
        width: 100%;
    }

    article {
        align-self: center;
    }


}

// ----------mixin für shop------------------------

@mixin img-large-headphones-side {
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 10px;

    .img-soundwaves {
        background: url('../img/section-composition4.jpg') center / cover no-repeat;
        width: 85%;
        height: 100vh;
    }

    h2 {}

    p {}
}

// -----------sidebar-about-------------------------

@mixin sidebar {
    .sidebar {}

    .sidebar::after {
        display: table;
        content: "";
        clear: both;
    }

    .sidebar-container {
        position: fixed;
        top: 38%;
        margin-left: 3%;
        border: aliceblue;
    }

    .outer-circle {
        border-radius: 50%;
        box-shadow: 0px 0px 0px 1px #fff;
        width: 25px;
        height: 25px;
        margin: -20px;
        position: relative;
    }

    .inner-circle {
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0.5px $headline;
        width: 15px;
        height: 15px;
        margin: 5px;
        position: absolute;

    }

    .sidebar-text {
        margin-top: -25px;
        margin-left: 52%;


        a {
            color: $nav-color;
            font-size: smaller;
            text-decoration: none;
        }
    }

    .sidebar-text a:visited {
        color: #fff;
        transition-duration: 1s;
    }

    .sidebar-line {
        color: $nav-color;
        opacity: 0.1;
        font-size: 4rem;
        font-weight: 100;
        position: absolute;
        margin: -17px;
    }

}

// -------sidebar --lounger