$main-color:#2e2e2e;
$nav-color: #867772;
$nav-color-hover:rgb(234, 204, 194);
$headline:#ebccc2;
$headline-size: 2.5rem;
$paragraph-color:rgb(115, 115, 115);
$paragraph-size: 1rem;

$secondary-color:green;
// $small:1rem;
// $medium:2rem;
// $large:3rem;

// Font: Work sans
// Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115)