// importieren von generals (einer ausgelagerten Datei) --- immerg ganz oben wie bei fonts
@import "../scss/generals";
@import "_mixin.scss";
@import "../scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap');

// nesting 
// mixin
// mit @include wird die ausgelagerte _mixin.scss aufgerufen

// nav {
//     @include flexit;

//     h1 {
//         font-size: 2rem;
//         font-size: $large;
//         background-color: $main-color;
//     }

//     ul {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         li {
//             list-style: none;
//             margin-right: 10px;
//         }
//     }

// }

// .card {
//     margin: 100px 0px;
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     gap: 20px;

//     &-image {
//         width: 100%;
//     }

//     &-title {
//         color: $main-color;
//     }

//     p {
//         color: $secondary-color;
//     }

//     figure {
//         background-color: lightgray;

//         &:nth-of-type(2) h2 {
//             color: gold;
//         }

//         &:hover {
//             box-shadow: 0 0 10px black;
//         }
//     }
// }

// article h3 {
//     @include styletext(32px, 400, pink, "", uppercase, black)
// }


/* =================================== */
/* --------------GENERALS--------------*/
/* =================================== */

body {
    background-color: $main-color;
    font-family: 'Work Sans', sans-serif;
}

/* =================================== */
/* ------💀--- h•e•a•d•e•r -💀 ---------*/
/* =================================== */


/* =================================== */
/* ------🧭-- n•a•v-b•a•r --🧭---------*/
/* =================================== */
.navbar-sticky {
    @include navbar-sticky;
}



/* =================================== */
/*---------  m•a•i•n  ----------------*/
/* =================================== */


// --------------main -- about-----------

.go-beyond h2 {
    color: $headline;
    font-size: $headline-size;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 25%;
}

.hero-img {
    background: url('../img/section-about-1.jpg') center / cover no-repeat;
    margin: 20vh 5%;
    padding-top: 100%;
}

// ------------main-about--inspiration----

.img-small-text-side {
    @include img-small-text-side;
}

// ------------main-lounger--experience----

.img-large-text-side {
    @include img-large-text-side;
}

.video div {
    text-align: center;
    margin: 25vh 0;
}

// ------------main--shop------------------

.img-large-headphones-side {
    @include img-large-headphones-side;

    div img {
        object-fit: scale-down;
    }

    article div {
        text-align: center;
    }

    article h3,
    p,
    button {
        text-align: center;
        margin-top: 1rem;
    }

    button {
        padding: 5px;
    }

}

// -------------------


/* =================================== */
/* --------👣 - f•o•o•t•e•r -----------*/
/* =================================== */

/* =================================== */
/* --🖥- m•e•d•i•a-q•u•e•r•i•e•s -📲--- */
/* =================================== */
@media screen and (min-width: 768px) {}